# ── Telegram ─────────────────────────────
# Token obtenu via @BotFather sur Telegram
TELEGRAM_BOT_TOKEN=7987510760:AAEH4ilPclHBx1o00oLSfM58njiRpHPXnfE ────────────────────────────────
GEMINI_API_KEY=AIzaSyDGxxjxCFcbEiXJZ1TBNNAhR3RuRpjl250
# ── Owner ─────────────────────────────────
# Ton ID Telegram (obtenu via @userinfobot)
OWNER_ID=7344871655

# ── Serveur ───────────────────────────────
PORT=3000
