# ── Telegram ─────────────────────────────
# Token obtenu via @BotFather sur Telegram
TELEGRAM_BOT_TOKEN=7987510760:AAG0kQcuVtPDFfD_mApWlpNCZIZOQ85WxoQ

# ── Gemini ────────────────────────────────
GEMINI_API_KEY=AIzaSyANVaJrZjVWz_vewqhgOlqd6Vp12t_DePc

# ── Owner ─────────────────────────────────
# Ton ID Telegram (obtenu via @userinfobot)
OWNER_ID=7344871655

# ── Serveur ───────────────────────────────
PORT=3000
